body::before {
    display: block;
    content: "";
    height: 72px; /* Height of the navbar */

}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

        section[id] {
  scroll-margin-top: 72px; /* or a bit more if you want extra space */
}